/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 114, ui-icon/*.png */
.ui-icon-sprite, .ui-icon-play, .ui-icon-hover-play, .ui-icon-pause, .ui-icon-hover-pause, .ui-icon-prev, .ui-icon-hover-prev, .ui-icon-next, .ui-icon-hover-next {
  background: url('../images/ui-icon-s6084dd2d6f.png') no-repeat;
}

/* line 74, ui-icon/hover/*.png */
.hover-sprite {
  background: url('../images/ui-icon/hover-s7c32503e77.png') no-repeat;
}

/* line 14, ../sass/screen.sass */
.ui-icon-play {
  background-position: 0 -360px;
  height: 40px;
  width: 40px;
}

/* line 16, ../sass/screen.sass */
.ui-icon-hover-play {
  background-position: 0 -120px;
  height: 40px;
  width: 40px;
}

/* line 14, ../sass/screen.sass */
.ui-icon-pause {
  background-position: 0 -320px;
  height: 40px;
  width: 40px;
}

/* line 16, ../sass/screen.sass */
.ui-icon-hover-pause {
  background-position: 0 -160px;
  height: 40px;
  width: 40px;
}

/* line 14, ../sass/screen.sass */
.ui-icon-prev {
  background-position: 0 -240px;
  height: 40px;
  width: 40px;
}

/* line 16, ../sass/screen.sass */
.ui-icon-hover-prev {
  background-position: 0 -80px;
  height: 40px;
  width: 40px;
}

/* line 14, ../sass/screen.sass */
.ui-icon-next {
  background-position: 0 -280px;
  height: 40px;
  width: 40px;
}

/* line 16, ../sass/screen.sass */
.ui-icon-hover-next {
  background-position: 0 -40px;
  height: 40px;
  width: 40px;
}

/* line 17, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*! jQuery UI - v1.10.3 - 2013-11-29
 ** http://jqueryui.com
 ** Includes: jquery.ui.core.css, jquery.ui.resizable.css, jquery.ui.selectable.css, jquery.ui.button.css, jquery.ui.menu.css, jquery.ui.progressbar.css, jquery.ui.theme.css
 ** To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Helvetica%20neu&fwDefault=normal&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=%23cccccc&bgTextureHeader=highlight_soft&bgImgOpacityHeader=75&borderColorHeader=%23aaaaaa&fcHeader=%233b5284&iconColorHeader=%23a0b2d4&bgColorContent=%23ffffff&bgTextureContent=flat&bgImgOpacityContent=75&borderColorContent=%23aaaaaa&fcContent=%23b0b1cc&iconColorContent=%23a0b2d4&bgColorDefault=%23e6e6e6&bgTextureDefault=glass&bgImgOpacityDefault=75&borderColorDefault=%23e2e3e5&fcDefault=%237c7c7c&iconColorDefault=%23000&bgColorHover=%23ff0040&bgTextureHover=glass&bgImgOpacityHover=75&borderColorHover=%23999999&fcHover=%23e3cb82&iconColorHover=%23e2e3e5&bgColorActive=%23ffffff&bgTextureActive=glass&bgImgOpacityActive=65&borderColorActive=%23aaaaaa&fcActive=%23b0b1cc&iconColorActive=%23000&bgColorHighlight=%23fbf9ee&bgTextureHighlight=glass&bgImgOpacityHighlight=55&borderColorHighlight=%23fcefa1&fcHighlight=%23363636&iconColorHighlight=%232e83ff&bgColorError=%23fef1ec&bgTextureError=glass&bgImgOpacityError=95&borderColorError=%23cd0a0a&fcError=%23cd0a0a&iconColorError=%23cd0a0a&bgColorOverlay=%23aaaaaa&bgTextureOverlay=flat&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=%23aaaaaa&bgTextureShadow=flat&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=8px&offsetTopShadow=-8px&offsetLeftShadow=-8px&cornerRadiusShadow=8px
 ** Copyright 2013 jQuery Foundation and other contributors; Licensed MIT */
/* Layout helpers
 *---------------------------------- */
/* line 10, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-helper-hidden {
  display: none;
}

/* line 13, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 23, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

/* line 33, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-helper-clearfix {
  min-height: 0;
  /* support: IE7 */
}
/* line 34, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-helper-clearfix:before {
  content: "";
  display: table;
  border-collapse: collapse;
}
/* line 38, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse;
  clear: both;
}

/* line 46, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity=0);
}

/* line 55, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-front {
  z-index: 100;
}

/* Interaction Cues
 *---------------------------------- */
/* line 61, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-state-disabled {
  cursor: default !important;
}

/* Icons
 *---------------------------------- */
/* states and images */
/* line 69, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
  width: 41px;
  hight: 41px;
  border-color: transparent;
}

/* Misc visuals
 *---------------------------------- */
/* Overlays */
/* line 83, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 90, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-resizable {
  position: relative;
}

/* line 93, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
}

/* line 98, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle {
  display: none;
}

/* line 101, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0;
}

/* line 108, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0;
}

/* line 115, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0;
  height: 100%;
}

/* line 122, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0;
  height: 100%;
}

/* line 129, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px;
}

/* line 136, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px;
}

/* line 143, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px;
}

/* line 150, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px;
}

/* line 157, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-selectable-helper {
  position: absolute;
  z-index: 100;
  border: 1px dotted black;
}

/* line 162, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-button {
  display: inline-block;
  position: relative;
  padding: 0;
  line-height: normal;
  margin-right: 0.1em;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  overflow: visible;
  /* removes extra width in IE */
  text-decoration: none;
}
/* line 174, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-button:link, .ui-button:visited, .ui-button:hover, .ui-button:active {
  text-decoration: none;
}

/* to make room for the icon, a width needs to be set here */
/* line 179, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-button-icon-only {
  width: 2.2em;
}

/* button elements seem to need a little more width */
/* line 184, ../sass/jquery-ui-1.10.3.custom.sass */
button.ui-button-icon-only {
  width: 2.4em;
}

/* line 187, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-button-icons-only {
  width: 3.4em;
}

/* line 190, ../sass/jquery-ui-1.10.3.custom.sass */
button.ui-button-icons-only {
  width: 3.7em;
}

/* button text element */
/* line 195, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-button .ui-button-text {
  display: block;
  line-height: normal;
}

/* line 199, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-button-text-only .ui-button-text {
  padding: 0.4em 1em;
}

/* line 202, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text {
  padding: 0.4em;
  text-indent: -9999999px;
}

/* line 206, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text {
  padding: 0.4em 1em 0.4em 2.1em;
}

/* line 209, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-button-text-icon-secondary .ui-button-text {
  padding: 0.4em 2.1em 0.4em 1em;
}

/* line 212, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-button-text-icons .ui-button-text {
  padding: 0.4em 2.1em 0.4em 1em;
  padding-left: 2.1em;
  padding-right: 2.1em;
}

/* no icon support for input elements, provide padding by default */
/* line 219, ../sass/jquery-ui-1.10.3.custom.sass */
input.ui-button {
  padding: 0.4em 1em;
}

/* button icon element(s) */
/* line 224, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon {
  position: absolute;
  top: 50%;
  margin-top: -8px;
}

/* line 229, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-button-icon-only .ui-icon {
  left: 50%;
  margin-left: -8px;
}

/* line 233, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-button-text-icon-primary .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary {
  left: 0.5em;
}

/* line 236, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-button-text-icon-secondary .ui-button-icon-secondary, .ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary {
  right: 0.5em;
}

/* button sets */
/* line 241, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-buttonset {
  margin-right: 7px;
}
/* line 243, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-buttonset .ui-button {
  margin-left: 0;
  margin-right: -0.3em;
}

/* workarounds */
/* reset extra padding in Firefox, see h5bp.com/l */
/* line 250, ../sass/jquery-ui-1.10.3.custom.sass */
input.ui-button::-moz-focus-inner, button.ui-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 254, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-menu {
  list-style: none;
  padding: 2px;
  margin: 0;
  display: block;
  outline: none;
}
/* line 260, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-menu .ui-menu {
  margin-top: -3px;
  position: absolute;
}
/* line 263, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-menu .ui-menu-item {
  margin: 0;
  padding: 0;
  width: 100%;
  /* support: IE10, see #8844 */
  list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}
/* line 269, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-menu .ui-menu-divider {
  margin: 5px -2px 5px -2px;
  height: 0;
  font-size: 0;
  line-height: 0;
  border-width: 1px 0 0 0;
}
/* line 275, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-menu .ui-menu-item a {
  text-decoration: none;
  display: block;
  padding: 2px 0.4em;
  line-height: 1.5;
  min-height: 0;
  /* support: IE7 */
  font-weight: normal;
}
/* line 283, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-menu .ui-menu-item a.ui-state-focus, .ui-menu .ui-menu-item a.ui-state-active {
  font-weight: normal;
  margin: -1px;
}
/* line 286, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-menu .ui-state-disabled {
  font-weight: normal;
  margin: 0.4em 0 0.2em;
  line-height: 1.5;
}
/* line 290, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-menu .ui-state-disabled a {
  cursor: default;
}

/* icon support */
/* line 295, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-menu-icons {
  position: relative;
}
/* line 297, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-menu-icons .ui-menu-item a {
  position: relative;
  padding-left: 2em;
}

/* left-aligned */
/* line 304, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-menu .ui-icon {
  position: absolute;
  top: 0.2em;
  left: 0.2em;
}
/* line 308, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-menu .ui-menu-icon {
  position: static;
  float: right;
}

/* right-aligned */
/* line 314, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-progressbar {
  height: 2em;
  text-align: left;
  overflow: hidden;
}
/* line 318, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-progressbar .ui-progressbar-value {
  margin: -1px;
  height: 100%;
}
/* line 321, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-progressbar .ui-progressbar-overlay {
  background: url("images/animated-overlay.gif");
  height: 100%;
  filter: alpha(opacity=25);
  opacity: 0.25;
}

/* line 327, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-progressbar-indeterminate .ui-progressbar-value {
  background-image: none;
}

/* Component containers
 *---------------------------------- */
/* line 333, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-widget {
  font-family: Helvetica neu;
  font-size: 1.1em;
}
/* line 336, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-widget .ui-widget {
  font-size: 1em;
}
/* line 338, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: Helvetica neu;
  font-size: 1em;
}

/* line 342, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-widget-content {
  border: 1px solid #aaaaaa;
  background: white url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
  color: #b0b1cc;
}
/* line 346, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-widget-content a {
  color: #b0b1cc;
}

/* line 349, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-widget-header {
  border: 1px solid #aaaaaa;
  background: #cccccc url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
  color: #3b5284;
  font-weight: bold;
}
/* line 354, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-widget-header a {
  color: #3b5284;
}

/* Interaction states
 *---------------------------------- */
/* line 360, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 1px solid #e2e3e5;
  background: #e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
  font-weight: normal;
  color: #7c7c7c;
}

/* line 366, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-state-default a {
  color: #7c7c7c;
  text-decoration: none;
}
/* line 369, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-state-default a:link, .ui-state-default a:visited {
  color: #7c7c7c;
  text-decoration: none;
}

/* line 373, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  border: 1px solid #999999;
  background: #ff0040 url(images/ui-bg_glass_75_ff0040_1x400.png) 50% 50% repeat-x;
  font-weight: normal;
  color: #e3cb82;
}

/* line 379, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-state-hover a {
  color: #e3cb82;
  text-decoration: none;
}
/* line 382, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited {
  color: #e3cb82;
  text-decoration: none;
}

/* line 386, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  border: 1px solid #aaaaaa;
  background: white url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
  font-weight: normal;
  color: #b0b1cc;
}

/* line 392, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-state-active a {
  color: #b0b1cc;
  text-decoration: none;
}
/* line 395, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-state-active a:link, .ui-state-active a:visited {
  color: #b0b1cc;
  text-decoration: none;
}

/* Interaction Cues
 *---------------------------------- */
/* line 402, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  border: 1px solid #fcefa1;
  background: #fbf9ee url(images/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x;
  color: #363636;
}

/* line 407, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a {
  color: #363636;
}

/* line 410, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
  border: 1px solid #cd0a0a;
  background: #fef1ec url(images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x;
  color: #cd0a0a;
}

/* line 415, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a, .ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text {
  color: #cd0a0a;
}

/* line 418, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary {
  font-weight: bold;
}

/* line 421, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary {
  opacity: 0.7;
  filter: Alpha(Opacity=70);
  font-weight: normal;
}

/* line 426, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
  opacity: 0.35;
  filter: Alpha(Opacity=35);
  background-image: none;
}

/* line 431, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-state-disabled .ui-icon {
  filter: Alpha(Opacity=35);
  /* For IE8 - See #6059 */
}

/* Icons
 *---------------------------------- */
/* states and images */
/* line 440, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon {
  width: 16px;
  height: 16px;
  background-image: url(images/ui-icons_a0b2d4_256x240.png);
}

/* line 445, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-widget-content .ui-icon, .ui-widget-header .ui-icon {
  background-image: url(images/ui-icons_a0b2d4_256x240.png);
}

/* line 448, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-state-default .ui-icon {
  background-image: url(images/ui-icons_000_256x240.png);
}

/* line 451, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {
  background-image: url(images/ui-icons_e2e3e5_256x240.png);
}

/* line 454, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-state-active .ui-icon {
  background-image: url(images/ui-icons_000_256x240.png);
}

/* line 457, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-state-highlight .ui-icon {
  background-image: url(images/ui-icons_2e83ff_256x240.png);
}

/* line 460, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {
  background-image: url(images/ui-icons_cd0a0a_256x240.png);
}

/* positioning */
/* line 465, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-blank {
  background-position: 16px 16px;
}

/* line 468, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-carat-1-n {
  background-position: 0 0;
}

/* line 471, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-carat-1-ne {
  background-position: -16px 0;
}

/* line 474, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-carat-1-e {
  background-position: -32px 0;
}

/* line 477, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-carat-1-se {
  background-position: -48px 0;
}

/* line 480, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-carat-1-s {
  background-position: -64px 0;
}

/* line 483, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-carat-1-sw {
  background-position: -80px 0;
}

/* line 486, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-carat-1-w {
  background-position: -96px 0;
}

/* line 489, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-carat-1-nw {
  background-position: -112px 0;
}

/* line 492, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-carat-2-n-s {
  background-position: -128px 0;
}

/* line 495, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-carat-2-e-w {
  background-position: -144px 0;
}

/* line 498, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-triangle-1-n {
  background-position: 0 -16px;
}

/* line 501, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-triangle-1-ne {
  background-position: -16px -16px;
}

/* line 504, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-triangle-1-e {
  background-position: -32px -16px;
}

/* line 507, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-triangle-1-se {
  background-position: -48px -16px;
}

/* line 510, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-triangle-1-s {
  background-position: -64px -16px;
}

/* line 513, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-triangle-1-sw {
  background-position: -80px -16px;
}

/* line 516, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-triangle-1-w {
  background-position: -96px -16px;
}

/* line 519, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-triangle-1-nw {
  background-position: -112px -16px;
}

/* line 522, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-triangle-2-n-s {
  background-position: -128px -16px;
}

/* line 525, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-triangle-2-e-w {
  background-position: -144px -16px;
}

/* line 528, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-arrow-1-n {
  background-position: 0 -32px;
}

/* line 531, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-arrow-1-ne {
  background-position: -16px -32px;
}

/* line 534, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-arrow-1-e {
  background-position: -32px -32px;
}

/* line 537, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-arrow-1-se {
  background-position: -48px -32px;
}

/* line 540, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-arrow-1-s {
  background-position: -64px -32px;
}

/* line 543, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-arrow-1-sw {
  background-position: -80px -32px;
}

/* line 546, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-arrow-1-w {
  background-position: -96px -32px;
}

/* line 549, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-arrow-1-nw {
  background-position: -112px -32px;
}

/* line 552, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-arrow-2-n-s {
  background-position: -128px -32px;
}

/* line 555, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-arrow-2-ne-sw {
  background-position: -144px -32px;
}

/* line 558, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-arrow-2-e-w {
  background-position: -160px -32px;
}

/* line 561, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-arrow-2-se-nw {
  background-position: -176px -32px;
}

/* line 564, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-arrowstop-1-n {
  background-position: -192px -32px;
}

/* line 567, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-arrowstop-1-e {
  background-position: -208px -32px;
}

/* line 570, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-arrowstop-1-s {
  background-position: -224px -32px;
}

/* line 573, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-arrowstop-1-w {
  background-position: -240px -32px;
}

/* line 576, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-arrowthick-1-n {
  background-position: 0 -48px;
}

/* line 579, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-arrowthick-1-ne {
  background-position: -16px -48px;
}

/* line 582, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-arrowthick-1-e {
  background-position: -32px -48px;
}

/* line 585, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-arrowthick-1-se {
  background-position: -48px -48px;
}

/* line 588, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-arrowthick-1-s {
  background-position: -64px -48px;
}

/* line 591, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-arrowthick-1-sw {
  background-position: -80px -48px;
}

/* line 594, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-arrowthick-1-w {
  background-position: -96px -48px;
}

/* line 597, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-arrowthick-1-nw {
  background-position: -112px -48px;
}

/* line 600, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-arrowthick-2-n-s {
  background-position: -128px -48px;
}

/* line 603, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-arrowthick-2-ne-sw {
  background-position: -144px -48px;
}

/* line 606, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-arrowthick-2-e-w {
  background-position: -160px -48px;
}

/* line 609, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-arrowthick-2-se-nw {
  background-position: -176px -48px;
}

/* line 612, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-arrowthickstop-1-n {
  background-position: -192px -48px;
}

/* line 615, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-arrowthickstop-1-e {
  background-position: -208px -48px;
}

/* line 618, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-arrowthickstop-1-s {
  background-position: -224px -48px;
}

/* line 621, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-arrowthickstop-1-w {
  background-position: -240px -48px;
}

/* line 624, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-arrowreturnthick-1-w {
  background-position: 0 -64px;
}

/* line 627, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-arrowreturnthick-1-n {
  background-position: -16px -64px;
}

/* line 630, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-arrowreturnthick-1-e {
  background-position: -32px -64px;
}

/* line 633, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-arrowreturnthick-1-s {
  background-position: -48px -64px;
}

/* line 636, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-arrowreturn-1-w {
  background-position: -64px -64px;
}

/* line 639, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-arrowreturn-1-n {
  background-position: -80px -64px;
}

/* line 642, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-arrowreturn-1-e {
  background-position: -96px -64px;
}

/* line 645, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-arrowreturn-1-s {
  background-position: -112px -64px;
}

/* line 648, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-arrowrefresh-1-w {
  background-position: -128px -64px;
}

/* line 651, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-arrowrefresh-1-n {
  background-position: -144px -64px;
}

/* line 654, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-arrowrefresh-1-e {
  background-position: -160px -64px;
}

/* line 657, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-arrowrefresh-1-s {
  background-position: -176px -64px;
}

/* line 660, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-arrow-4 {
  background-position: 0 -80px;
}

/* line 663, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-arrow-4-diag {
  background-position: -16px -80px;
}

/* line 666, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-extlink {
  background-position: -32px -80px;
}

/* line 669, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-newwin {
  background-position: -48px -80px;
}

/* line 672, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-refresh {
  background-position: -64px -80px;
}

/* line 675, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-shuffle {
  background-position: -80px -80px;
}

/* line 678, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-transfer-e-w {
  background-position: -96px -80px;
}

/* line 681, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-transferthick-e-w {
  background-position: -112px -80px;
}

/* line 684, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-folder-collapsed {
  background-position: 0 -96px;
}

/* line 687, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-folder-open {
  background-position: -16px -96px;
}

/* line 690, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-document {
  background-position: -32px -96px;
}

/* line 693, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-document-b {
  background-position: -48px -96px;
}

/* line 696, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-note {
  background-position: -64px -96px;
}

/* line 699, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-mail-closed {
  background-position: -80px -96px;
}

/* line 702, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-mail-open {
  background-position: -96px -96px;
}

/* line 705, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-suitcase {
  background-position: -112px -96px;
}

/* line 708, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-comment {
  background-position: -128px -96px;
}

/* line 711, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-person {
  background-position: -144px -96px;
}

/* line 714, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-print {
  background-position: -160px -96px;
}

/* line 717, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-trash {
  background-position: -176px -96px;
}

/* line 720, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-locked {
  background-position: -192px -96px;
}

/* line 723, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-unlocked {
  background-position: -208px -96px;
}

/* line 726, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-bookmark {
  background-position: -224px -96px;
}

/* line 729, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-tag {
  background-position: -240px -96px;
}

/* line 732, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-home {
  background-position: 0 -112px;
}

/* line 735, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-flag {
  background-position: -16px -112px;
}

/* line 738, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-calendar {
  background-position: -32px -112px;
}

/* line 741, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-cart {
  background-position: -48px -112px;
}

/* line 744, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-pencil {
  background-position: -64px -112px;
}

/* line 747, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-clock {
  background-position: -80px -112px;
}

/* line 750, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-disk {
  background-position: -96px -112px;
}

/* line 753, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-calculator {
  background-position: -112px -112px;
}

/* line 756, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-zoomin {
  background-position: -128px -112px;
}

/* line 759, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-zoomout {
  background-position: -144px -112px;
}

/* line 762, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-search {
  background-position: -160px -112px;
}

/* line 765, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-wrench {
  background-position: -176px -112px;
}

/* line 768, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-gear {
  background-position: -192px -112px;
}

/* line 771, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-heart {
  background-position: -208px -112px;
}

/* line 774, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-star {
  background-position: -224px -112px;
}

/* line 777, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-link {
  background-position: -240px -112px;
}

/* line 780, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-cancel {
  background-position: 0 -128px;
}

/* line 783, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-plus {
  background-position: -16px -128px;
}

/* line 786, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-plusthick {
  background-position: -32px -128px;
}

/* line 789, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-minus {
  background-position: -48px -128px;
}

/* line 792, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-minusthick {
  background-position: -64px -128px;
}

/* line 795, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-close {
  background-position: -80px -128px;
}

/* line 798, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-closethick {
  background-position: -96px -128px;
}

/* line 801, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-key {
  background-position: -112px -128px;
}

/* line 804, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-lightbulb {
  background-position: -128px -128px;
}

/* line 807, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-scissors {
  background-position: -144px -128px;
}

/* line 810, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-clipboard {
  background-position: -160px -128px;
}

/* line 813, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-copy {
  background-position: -176px -128px;
}

/* line 816, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-contact {
  background-position: -192px -128px;
}

/* line 819, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-image {
  background-position: -208px -128px;
}

/* line 822, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-video {
  background-position: -224px -128px;
}

/* line 825, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-script {
  background-position: -240px -128px;
}

/* line 828, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-alert {
  background-position: 0 -144px;
}

/* line 831, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-info {
  background-position: -16px -144px;
}

/* line 834, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-notice {
  background-position: -32px -144px;
}

/* line 837, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-help {
  background-position: -48px -144px;
}

/* line 840, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-check {
  background-position: -64px -144px;
}

/* line 843, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-bullet {
  background-position: -80px -144px;
}

/* line 846, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-radio-on {
  background-position: -96px -144px;
}

/* line 849, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-radio-off {
  background-position: -112px -144px;
}

/* line 852, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-pin-w {
  background-position: -128px -144px;
}

/* line 855, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-pin-s {
  background-position: -144px -144px;
}

/* line 858, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-play {
  background-position: 0 -160px;
}

/* line 861, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-pause {
  background-position: -16px -160px;
}

/* line 864, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-seek-next {
  background-position: -32px -160px;
}

/* line 867, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-seek-prev {
  background-position: -48px -160px;
}

/* line 870, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-seek-end {
  background-position: -64px -160px;
}

/* line 873, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-seek-start, .ui-icon-seek-first {
  background-position: -80px -160px;
}

/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
/* line 878, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-stop {
  background-position: -96px -160px;
}

/* line 881, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-eject {
  background-position: -112px -160px;
}

/* line 884, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-volume-off {
  background-position: -128px -160px;
}

/* line 887, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-volume-on {
  background-position: -144px -160px;
}

/* line 890, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-power {
  background-position: 0 -176px;
}

/* line 893, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-signal-diag {
  background-position: -16px -176px;
}

/* line 896, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-signal {
  background-position: -32px -176px;
}

/* line 899, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-battery-0 {
  background-position: -48px -176px;
}

/* line 902, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-battery-1 {
  background-position: -64px -176px;
}

/* line 905, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-battery-2 {
  background-position: -80px -176px;
}

/* line 908, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-battery-3 {
  background-position: -96px -176px;
}

/* line 911, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-circle-plus {
  background-position: 0 -192px;
}

/* line 914, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-circle-minus {
  background-position: -16px -192px;
}

/* line 917, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-circle-close {
  background-position: -32px -192px;
}

/* line 920, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-circle-triangle-e {
  background-position: -48px -192px;
}

/* line 923, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-circle-triangle-s {
  background-position: -64px -192px;
}

/* line 926, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-circle-triangle-w {
  background-position: -80px -192px;
}

/* line 929, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-circle-triangle-n {
  background-position: -96px -192px;
}

/* line 932, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-circle-arrow-e {
  background-position: -112px -192px;
}

/* line 935, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-circle-arrow-s {
  background-position: -128px -192px;
}

/* line 938, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-circle-arrow-w {
  background-position: -144px -192px;
}

/* line 941, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-circle-arrow-n {
  background-position: -160px -192px;
}

/* line 944, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-circle-zoomin {
  background-position: -176px -192px;
}

/* line 947, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-circle-zoomout {
  background-position: -192px -192px;
}

/* line 950, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-circle-check {
  background-position: -208px -192px;
}

/* line 953, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-circlesmall-plus {
  background-position: 0 -208px;
}

/* line 956, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-circlesmall-minus {
  background-position: -16px -208px;
}

/* line 959, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-circlesmall-close {
  background-position: -32px -208px;
}

/* line 962, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-squaresmall-plus {
  background-position: -48px -208px;
}

/* line 965, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-squaresmall-minus {
  background-position: -64px -208px;
}

/* line 968, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-squaresmall-close {
  background-position: -80px -208px;
}

/* line 971, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-grip-dotted-vertical {
  background-position: 0 -224px;
}

/* line 974, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-grip-dotted-horizontal {
  background-position: -16px -224px;
}

/* line 977, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-grip-solid-vertical {
  background-position: -32px -224px;
}

/* line 980, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-grip-solid-horizontal {
  background-position: -48px -224px;
}

/* line 983, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-gripsmall-diagonal-se {
  background-position: -64px -224px;
}

/* line 986, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-icon-grip-diagonal-se {
  background-position: -80px -224px;
}

/* Misc visuals
 *---------------------------------- */
/* Corner radius */
/* line 994, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
  border-top-left-radius: 4px;
}

/* line 997, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
  border-top-right-radius: 4px;
}

/* line 1000, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
  border-bottom-left-radius: 4px;
}

/* line 1003, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  border-bottom-right-radius: 4px;
}

/* Overlays */
/* line 1008, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-widget-overlay {
  background: #aaaaaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
  opacity: 0.3;
  filter: Alpha(Opacity=30);
}

/* line 1013, ../sass/jquery-ui-1.10.3.custom.sass */
.ui-widget-shadow {
  margin: -8px 0 0 -8px;
  padding: 8px;
  background: #aaaaaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
  opacity: 0.3;
  filter: Alpha(Opacity=30);
  border-radius: 8px;
}

/* begin the gestalt styles */
/* line 3, ../sass/gestalt.sass */
.ui-gs {
  display: inline-block;
  border: none;
  float: left;
  /* IE7 won't apply inline-block to divs */
}
/* line 8, ../sass/gestalt.sass */
.ui-gs :focus {
  outline: none;
}
/* line 10, ../sass/gestalt.sass */
.ui-gs :focus::-moz-focus-inner {
  border-color: transparent;
}

/* line 13, ../sass/gestalt.sass */
.ui-gs-images {
  position: relative;
  overflow: hidden;
  width: 550px;
  height: 425px;
}
/* line 18, ../sass/gestalt.sass */
.ui-gs-images img {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
/* line 23, ../sass/gestalt.sass */
.ui-gs-images .ui-gs-progressbar {
  z-index: 42;
  position: absolute;
  top: 10px;
  left: 10px;
  height: 10px;
  width: 200px;
}

/*Position der Button */
/* line 33, ../sass/gestalt.sass */
.ui-gs-controls {
  margin: 15px auto 10px;
  width: 553px;
}
/* line 36, ../sass/gestalt.sass */
.ui-gs-controls button {
  margin: 15 auto 10;
}
/* line 38, ../sass/gestalt.sass */
.ui-gs-controls button.ui-gs-resize {
  margin-left: 11px;
}

/*Abstand der Button */
/*Abstand zwischen dem "Next-Button" und dem "Resize-Button */
/* line 1, ../sass/zoom.sass */
.zoom-box {
  position: absolute;
  z-index: 1000;
  background: none repeat scroll 0 0 white;
  display: none;
  left: 3;
  top: 3;
  overflow: hidden;
  width: 300px;
  height: 300px;
  -moz-box-shadow: 15px 15px 5px #888888;
  -webkit-box-shadow: 15px 15px 5px #888888;
  box-shadow: 15px 15px 5px #888888;
}
/* line 14, ../sass/zoom.sass */
.zoom-box img {
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 0px;
}

/* line 20, ../sass/zoom.sass */
#del {
  width: 30px;
  height: 30px;
}

/* line 24, ../sass/zoom.sass */
#delete {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  display: none;
  z-index: 1001;
}

/* line 32, ../sass/zoom.sass */
#load {
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 60px;
  width: 60px;
}

/* line 40, ../sass/zoom.sass */
#springer {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 148px;
  height: 148px;
  background-color: black;
  display: none;
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: crosshair;
}

/* line 53, ../sass/zoom.sass */
#gestalt {
  margin: 0 0 0 500px;
}

/* line 56, ../sass/zoom.sass */
#pointer {
  width: auto;
  height: auto;
  background-color: white;
  position: absolute;
  z-index: 1000;
  display: none;
  left: 0;
  top: 0;
}
